@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;1,500;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

:root {
  --color-white: #f0f8ff;
  --color-black: #253031;
  --color-pastel-green: #E2E8C3;
  --color-green: #C6D9A2;
  --color-primary: #FFF7E5;
  --color-secondary: #E8C1B7;
  --color-tertiary: #FFF7E5;
  --color-golden: #f3b519;
  --color-red: rgb(255, 102, 79);

  --transparency: rgba(0, 0, 0, 0.5);
  --shadow: 0 0 5px rgba(0, 0, 0, .5);

  --header-font: 700 1.5em 'Ubuntu', sans-serif;
  --extra-small-font: 300 .5em 'Ubuntu', sans-serif;
  --small-font: 400 .8em 'Ubuntu', sans-serif;
  --normal-font: 500 1em 'Ubuntu', sans-serif;
  --big-font: 600 1.3em 'Ubuntu', sans-serif;
  --large-font: 700 2em 'Ubuntu', sans-serif;
  --extra-large-font: 700 3em 'Ubuntu', sans-serif;

  --transition: .3s ease;
}

h1 {
  font: var(--extra-large-font);
  color: var(--color-black);
}

h2 {
  font: var(--large-font);
  color: var(--color-black);
}

h4 {
  font: var(--normal-font);
  color: var(--color-black);
}

h6 {
  font: var(--extra-small-font);
  color: var(--color-black);
}

p {
  font: var(--normal-font);
  color: var(--color-black);
  margin: 15px 0;
}

.titles {
  text-align: center;
}

/* Header */

#header {
  display: flex;
  background-color: var(--color-primary);
  box-shadow: 0 2px 10px var(--transparency);
  z-index: 10;
  position: sticky;
  top: 0;
  left: 0;
}

.logo {
  width: 70px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
  width: 90%;
  max-width: 980px;
}

.navbar {
  display: flex;
  width: 90%;
  position: relative;
}

.navbar ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
}

#search {
  width: 270px;
  height: 30px;
  font: var(--normal-font);
  border-radius: 5px;
}

.navbar-item {
  text-decoration: none;
  font: var(--header-font);
  color: var(--color-black);
  transition: var(--transition);
  position: relative;
}

.navbar-item:hover, .navbar-item.active {
  color: var(--color-secondary);
}

.active::after, .navbar-item:hover::after {
  content: '';
  width: 40%;
  height: 2px;
  background-color: var(--color-secondary);
  position: absolute;
  bottom: -4px;
  left: 0;
}

.shoppingBag {
  display: flex;
  margin-left: 30px;
  position: relative;
}

#shoppingBagIcon-header {
  width: 25px;
  cursor: pointer;
}

.shoppingBag .total-items-in-cart {
  position: absolute;
  text-align: center;
  top: -10px;
  right: -10px;
  width: 20px;
  height: 20px;
  font: var(--normal-font);
  background-color: var(--color-secondary);
  padding: 2px;
  border-radius: 50%;
}

.shoppingBag-container {
  display: none;
}

.shoppingBag-container.active {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 30%;
  position: absolute; 
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  background-color: var(--color-green);
  z-index: 3;  
}

.shoppingBag-content {
  overflow: hidden;
  overflow-y: scroll;
  width: 70%;
}

.shoppingBag-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  display: flex;
  font: var(--normal-font); 
  padding: 20px 0;
}

.shoppingBag-btnClose {
  font: var(--large-font);
  color: var(--color-red);
  background-color: var(--color-tertiary);
  border-radius: 5px;
  transition: var(--transition);
  cursor: pointer;
}

.shoppingBag-btnClose:hover {
  color: var(--color-black);
  background-color: var(--color-red);
}

.shoppingBag-items {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.shoppingBag-item {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 180px;
  flex-wrap: wrap;
}

.shoppingBag-item .itemInfo-container {
  width: 100%;
  height: 100%;
  max-width: 150px;
  max-height: 180px;
}

.shoppingBag-item .itemInfo {
  display: flex;
  flex-direction: column;
  position: relative;
}

.shoppingBag-item .itemInfo img {
  max-width: 150px;
  max-height: 150px;
  object-fit: cover;
}

#trash {
  display: none;
  transition: var(--transition);
}

.shoppingBag-item .itemInfo:hover > #trash {
  font-size: 3rem;
  position: absolute;
  display: flex;
  background-color: rgba(255, 102, 79, .7);
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 150px;
  height: 150px;
}

.container-img > #heart {
  position: absolute;
  color: var(--color-secondary);
  top: 20px;
  right: 20px;
  font-size: 1.7rem;
  text-shadow: 0 0 7px var(--color-black);
  transition: var(--transition);
} 

.shoppingBag-item .itemInfo-container h3 {
  font: var(--normal-font);
  padding-top: 15px;
}

.units {
  display: flex;
  width: 200px;
  max-height: 150px;
  gap: 15px;
  padding: 10px 0;
  justify-content: center;
  align-items: center;
  font: var(--big-font);
}

.units .units-btn {
  background-color: var(--color-secondary);
  border: 1px solid var(--color-black);
  border-radius: 5px;
  cursor: pointer;
}

.shoppingBag-footer {
  margin: 30px 0 0 30px ;
}

.subtotal h3 {
  font: var(--big-font);
}

#mobile {
  display: none;
}

#close {
  display: none;
}

/* Homepage */

#hero {
  background-image: url('../images/pexels-roberto-hund-5317734.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top 25% right 0;
  height: 320px;
  display: flex;
  align-items: center;
}

.hero-container {
  margin: 0 auto;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  background-color: rgba(255, 247, 229, 0.7);
  border-radius: 5px;
  box-shadow: var(--shadow);
}

#hero h2 {
  font: 900 3rem 'Ubuntu', sans-serif;
  color: var(--color-black);
  animation: glitch .7s infinite ease;
}

@keyframes glitch {
  0% { text-shadow: 0 0 1px var(--color-green); }
  100% { text-shadow: 3.5px 3.5px 2px var(--color-green);}
}

#hero h3 {
  font: 400 2rem 'Ubuntu', sans-serif;
  color: var(--color-black);
  text-align: center;
}

#hero button {
  background-color: transparent;
  border: 0;
  font: var(--big-font);
  margin: 15px;
}

#hero button a {
  color: var(--color-black);
  text-decoration: none;
}

#hero button a:hover {
  text-decoration: underline;
}

/* Vantagens */

#features {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 90%;
  max-width: 980px;
  margin: 0 auto;
}

.feature-box {
  width: 180px;
  text-align: center;
  padding: 25px 15px;
  box-shadow: 0 0 5px var(--transparency);
  margin: 30px 0;
  border-radius: 5px;
  transition: var(--transition);
}

.feature-box:hover {
  background-color: var(--color-pastel-green);
}

/* Modelos */

.models-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 20px;
  margin: 25px;
  flex-wrap: wrap;
}

.models-container div {
  width: 100%;
  max-width: 250px;
  background-color: #fff;
  padding: 10px;
  box-shadow: 0 0 5px var(--color-secondary);
}

.models-container div img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: center;
  position: relative;
}

.models-container div h3 {
  font: var(--big-font);
  margin: 20px 0;
}

/* Produtos */

.products-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 100%;
  max-width: 980px;
  margin: 25px auto;
  flex-wrap: wrap;
}

.product {
  width: 30%;
  min-width: 200px;
  cursor: pointer; 
  transition: var(--transition);
  position: relative;
}

.product:hover {
  box-shadow: 0 0 10px var(--color-secondary);
}

.products-container:has(.product:hover) .product:not(:hover) {
  opacity: .6;
  scale: .98;
}

.product .container-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 350px;
  position: relative;
}

.product .container-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.container-img > #heart {
  position: absolute;
  color: var(--color-secondary);
  top: 20px;
  right: 20px;
  font-size: 1.7rem;
  text-shadow: 0 0 7px var(--color-black);
  transition: var(--transition);
} 

.container-img > #heart:hover {
  color: var(--color-primary);
}

.sizes {
  display: none; 
}

.container-img:hover > .sizes {
  display: flex;
  position: absolute;
  top: 312px;
  width: 100%;
}

.sizes div {
  font: var(--big-font);
  color: var(--color-white);
  background-color: var(--color-black);
  width: 16.67%;
  padding: 7px 0;
  transition: var(--transition);
}

.sizes div:hover {
  background-color: var(--color-secondary);
}

.product-description {
  text-align: start;
  padding: 10px 0 0 0;
}

.product-description h3 {
  padding: 7px;
  color: var(--color-black);
  font: var(--normal-font);
}

.product-description i {
  font-size: 12px;
  color: var(--color-green);
}

.product-description .product-price {
  padding-top: 7px;
  font: 600 1.5rem 'Ubuntu', sans-serif;
  color: var(--color-secondary);
}

#Shopping_Bag {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  bottom: 15px;
  right: 15px;
  position: absolute;
  transform: scale(1);
  transition: var(--transition);
  fill: var(--color-secondary);
}

#Shopping_Bag:hover {
 transform: scale(1.2);
}

/* Newsletter */

#newsletter {
  background-color: var(--color-black);
}

.newsletter-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px 0;
  margin: 0 auto;
  width: 90%;
  max-width: 980px;
}

.newsletter-title {
  color: var(--color-white);
  font-size: 1.5em;
}

.news-text p {
  color: rgba(240, 248, 255, 0.7);
}

#email {
  width: 90%;
  height: 40px;
  border-radius: 5px;
  font: var(--normal-font);
  color: var(--color-secondary);
  padding-left: 10px;
  margin-bottom: 10px;
}

#email::-webkit-input-placeholder{
  font: var(--big-font);
  color: var(--color-secondary);
}
#email::-moz-placeholder {
  font: var(--big-font);
  color: var(--color-secondary);
}

#newsletter-btn {
  font: var(--big-font);
  padding: 7px;
  border-radius: 5px;
  color: var(--color-black);
  background-color: var(--color-primary);
  transition: var(--transition);
  cursor: pointer;
}

#newsletter-btn:hover {
  box-shadow: 0 0 7px var(--color-secondary);
}

/* Footer */

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  flex-wrap: wrap;
}

.footer-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  width: 90%;
  max-width: 980px;
}

.footer-column {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.footer-column h3 {
  font: var(--big-font);
  color: var(--color-secondary);
}

.footer-column ul li {
  font: var(--normal-font);
  line-height: 25px;
}

.footer-column ul li strong {
  font-weight: bolder;
}

.footer-column i {
  font-size: 2rem;
  color: var(--color-green);
  transition: var(--transition);
}

.footer-column i:hover {
  text-shadow: 0 0 7px var(--color-pastel-green);
  transform: scale(1.2);
}

.footer-column a {
  text-decoration: none;
  color: var(--color-black);
}

.footer-column a:hover {
  text-decoration: underline;
}

.paymentMethods {
  width: 200px;
}

/* Barra de Rolagem | Scrollbar */

body::-webkit-scrollbar, .shoppingBag-content::-webkit-scrollbar {
  width: 12px;               
}

body::-webkit-scrollbar-track, .shoppingBag-content::-webkit-scrollbar-track {
  background: var(--color-black);       
}

body::-webkit-scrollbar-thumb, .shoppingBag-content::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);    
  border-radius: 20px;       
  border: 3px solid var(--color-black);  
}

body::-webkit-scrollbar-corner, .shoppingBag-content::-webkit-scrollbar-corner {
  background-color: var(--color-black);
}

/*    Página da loja    */

#shopBanner {
  background-image: url('../images/pexels-antoni-shkraba-7091840.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.shopBanner-container {
  height: 450px;
  width: 90%;
  max-width: 980px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

@media (max-width: 768px)  { 

  /* Header */

  .navbar {
    justify-content: flex-end;
    right: 50px;
  }

  .shoppingBag-container.active {
    width: 70%;
  }

  .navbar ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    padding-top: 30px;
    right: -300px;
    height: 100vh;
    width: 300px;
    background-color: var(--color-pastel-green);
    gap: 30px;
    box-shadow: 0 40px 60px rgba(0, 0, 0, .1);
    transition: var(--transition);
    z-index: 15;
  }

  .navbar ul.active {
    right: 0;
  }

  #mobile {
    display: flex;
    gap: 30px;
  }

  .close {
    text-decoration: none;
    font-size: 2em;
    color: var(--color-black);
    transition: var(--transition);
  }

  #close {
    display: block;
    margin-bottom: 30px;
  }
}

@media (max-width: 542px) {
  .footer-container {
    justify-content: flex-start;
  }
}

@media (max-width: 460px) {
  #features {
    justify-content: center;
  }

  .product {
    width: 250px;
  }
}